@import url('https://fonts.cdnfonts.com/css/futura-std-4');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Futura Std', sans-serif !important;
}

header {
    transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: .3s;
}

.footer-list:hover div {
    width: 100%;
}

.input-active {
    border: 1px solid #484848;
    width: 16px;
    height: 16px;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.slick-arrow {
    display: none !important;
}

.card-btns {
    visibility: hidden;
    z-index: -1;
    opacity: -1;
}

.card-hover:hover .card-btns {
    transition: .3s;
    z-index: 900;
    opacity: 1;
    visibility: visible;
}

.input-active:checked {
    background-color: #00174f;
    border-color: #00174f;
    color: #fff;
}

.input-active:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.wrapper {
    max-width: 1920px;
    padding: 0 20px;
    margin: auto;
}

@media only screen and (min-width: 992px) {
    .wrapper {
        padding: 0 24px;
    }
}

@media only screen and (min-width: 1400px) {
    .wrapper {
        padding: 0 38px;
    }
}